body {
  margin: 0;
  background-color: black !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.test{
  background: red !important;
}






.loading-btn{
  cursor: pointer !important;
}

.loading-btn-1{
  opacity: 0.6;
  cursor: not-allowed !important;
}

.w{
  width: 8rem;
}

.App{
  text-align: center;
  margin-top: 3rem;
}
